@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
.sr {
  width: 30vw;
}

body {
  font-family: "Baloo Bhai 2", cursive;
}
footer {
  background-color: rgb(216, 194, 194);
  padding: 25px;
  margin-bottom: 0;
}
ul,
li {
  list-style-type: none;
}
.list {
  margin-top: 15px;
}
