<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2b8d05eca5.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <title>Ecommerce</title>

    <style>

    {% block css %}{% endblock css %}
    
    </style>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %}class="alert alert-{{message.tags}} text-center fs-3 ms" {% endif %}  role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </header>

    {% block content %}
    
    {% endblock content %}
    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
        setTimeout(() => {
            $(".ms").fadeToggle(1000);
        }, 2000);

        $( function() {
            
            $( "#tags" ).autocomplete({
                source: "{% url 'autocomplete' %}"
            });
        } );
        
    </script>
    {% block js %}
        
    {% endblock js %}
</body>
</html>