<footer class="mx-auto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Pellentesque imperdiet consectetur dolor in elementum.</p>

      </div>
      <div class="col-md-2 list">
        <ol class="fs-5 mx-4 mb-0">About</ol>
        <ul class="fs-5">
          <li><a href="/"><i class="fas fa-home mx-2"></i>Home</a></li>
          <li><a href="{% url 'contact' %}"><i class="fas fa-address-book mx-2"></i>Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2 list">
        <ol class="fs-5 mx-4 mb-0" >Social</ol>
        <ul class="fs-5">
          <li><a href="https://github.com/satyam4484"><i class="fab fa-github mx-2"></i>Github</a></li>
          <li><a href="https://www.linkedin.com/in/satyam-singh-46b0a4165/"> <i class="fab fa-linkedin mx-2"></i>Linkedin</a></li>
          <li><a href="https://www.instagram.com/satyam_4484/"><i class="fab fa-instagram mx-2"></i>Instagram</a></li>
        </ul>

      </div>
      {% comment %} <div class="col-md-2 list">
        <ol class="fs-5 mx-4 mb-0" >Policy</ol>
        <ul class="fs-5">
          
        </ul>

      </div> {% endcomment %}
      <div class="col-md">
        <h5><strong>Contact Info</strong></h5>
        <p><strong>Adress:</strong> Wagholi,pune
          <!-- Random Adress -->
        </p>
        <p><strong>Email:</strong>satyambsingh93@gmail.com</p>
        <p><strong>Tel.:</strong> (+91) 9106643997</p>
      </div>
    </div>
  </div>
</footer>